.grid{
  display: grid;
  grid-template-columns: auto auto ;
  align-items: center;
  justify-content: center;
  gap: 0px;
}
.dropDownBtn{
  background: transparent;
  border: none;
  margin: 0;
  cursor: pointer;
  padding:0.6rem 0;
}