.grid{
  display: grid;
  grid-template-columns: auto auto ;
  align-items: center;
  justify-content: center;
  gap: 0px;
}
.dropDownBtn{
  background: transparent;
  border: none;
  margin: 0;
  cursor: pointer;
  padding:0.6rem 0;
}
  .dropDownElement{
    margin: 5px;
    color: #94a3b8!important;
    width: 100%;
    border: 0;
    height: 3.3rem;
    overflow: hidden;
    text-overflow: ellipsis;
     display: -webkit-box;
  -webkit-line-clamp: 3;   /* number of lines */
  -webkit-box-orient: vertical;
  }
.dropDownMenu{
  position: absolute;
  top: 4rem;
  background: #1f2537;
  border-radius: 10px;
  padding: 0.8rem;
  z-index: 20;
  width: 180px;
  
}